.jumbotron {
  height: 60vh;
  background-image: url(./slide.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  .lead {
    font-size: 1em;
  }

  .explore-btn {
    background-color: #ec5200;
    border-radius: 25px;
  }
}
