.background-overlay {
  background:
    /* top, transparent red, faked with gradient */ linear-gradient(
      rgba(255, 255, 255, 0.55),
      rgba(255, 255, 255, 0.55)
    ),
    url(./slide.png) top center  no-repeat     fixed;
}
