body {
  margin: 0;
  font-family: "Roboto", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f6f4f9;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none !important;
  color: inherit !important;
}

header a,
header button,
header p {
  color: inherit !important;
}

.bg-light .nav-link {
  color: #212529 !important;
}

.ceviche {
  font-family: "Ceviche One", cursive;
}

.nav-btn {
  background-color: transparent !important;
  border: none !important;
}

.nav-link {
  border-radius: 25px !important;
  display: flex !important;
  justify-content: center !important;
  width: 120px;
  margin-right: 10px;
}

.nav-link:hover {
  background-color: rgba(46, 46, 46, 0.9) !important;
}

.user-page,
.second-nav {
  background-color: #f6f4f9 !important;
}

.btn:focus {
  box-shadow: none !important;
  border: 1px solid #ccc !important;
}

.w-90 {
  width: 90% !important;
}

.react-multi-carousel-item--active {
  transform: scaleY(1.04);
  transition: all 0.6s ease;
}
